<link rel="import" href="../polymer/polymer.html">

<script src="cookies.js"></script>

<dom-module id="cotton-cookies">
  <template>    
    <script id="cookieConsent" type="text/javascript"></script>
  </template>

  <style>
    :host {
      position: fixed;
      background: white;
      left: 0;
      z-index: 500;
      opacity: 0.9;
      width: 100%;
    }

    :host[top] {
      top: 0px;
    }

    :host[bottom] {
    }

    :host paper-icon-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px; 
    }

    :host paper-card {
      width: 100%;
      background: white;
    }

    :host paper-card ::content .card-content {
        padding-top: 0;
    }

  </style>

  <script>

    const CottonCookiesDictionary = {
      "es": {
        Title: "Cookies",
        Message: "Utilizamos cookies para registrar tu configuración y ofrecerte un mejor servicio.",
        AcceptAction: "entendido",
        MoreInfoAction: "más info..."
      },
      "en": {
        Title: "Cookies",
        Message: "We use cookies in order to register your preferences and offer you better services.",
        AcceptAction: "got it",
        MoreInfoAction: "more info..."
      }
    };

    Polymer({
      is: 'cotton-cookies',

      properties: {
        language : { type: String, value: "es" },
        title: { type: String },
        message: { type: String },
        policyMessage: { type: String },
        policyPage : { type: String },
        theme : { type: String, value: 'dark-top' }
      },

      ready : function() {
        this.title = CottonCookiesDictionary[this.language].Title;
        this.message = CottonCookiesDictionary[this.language].Message;
        this.acceptAction = CottonCookiesDictionary[this.language].AcceptAction;
        this.moreInfoAction = CottonCookiesDictionary[this.language].MoreInfoAction;
      },

      attached : function() {
      	if (!Cookies.hasAcceptedUEDirective())
	        this.render();
        else
          this.remove();
      },

      render: function () {
        window.cookieconsent_options = {};
        window.cookieconsent_options.message = this.message;
        window.cookieconsent_options.dismiss = this.acceptAction;
        window.cookieconsent_options.learnMore = this.moreInfoAction;
        window.cookieconsent_options.link = this.policyPage;
        window.cookieconsent_options.theme = this.theme;

        jQuery.getScript("//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js");
      }
    });
  </script>
</dom-module>
